version: '3'

services:
  app:
    user: '$UID:1000'
    build:
      context: ./
      dockerfile: docker/app/Dockerfile
    image: promocodes-app
    working_dir: /var/www/promocodes
    volumes:
      - ./:/var/www/promocodes:rw
      - ./docker/app/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    depends_on:
      - mysql
    environment:
      PHP_IDE_CONFIG: $PHP_IDE_CONFIG
      XDEBUG_CONFIG: $XDEBUG_CONFIG
    ports:
      - "127.0.0.1:${APP_PORT:-8080}:80"
    networks:
      - promocodes

  mysql:
    image: mysql:5.7
    ports:
      - '127.0.0.1:${MYSQL_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: ${MYSQL_DATABASE:-promocodes}
    networks:
      - promocodes

networks:
  promocodes:
    driver: bridge